html {
    width: 100%;
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'M PLUS 1p';
}

.main {
    display: flex;
    justify-content: center; 
    align-items: center; 
}


@media (max-width: 968px) {
    .main {
        display: inline;
        justify-content: center; 
        align-items: center;
    }

    /* Image block */
    
    .image-block-wrapper {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .logo-image {
        width: 300px;
        height: auto;
        padding-top: 100px;
    }

    .image-block-title {
        font-size: 0;
    }

    .image-block-subtitle {
        font-size: 0;
    }

    /* Login form */

    .login-form-wrapper {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        margin-top: -40px;
    }

    .form-button {
        margin-top: 20px;
    }

    .signup-link {
        margin-top: 30px;
        margin-bottom: 40px;
    }

    .tooltip {
        top: 3%;
    }

    /* Signup form */

    .signup-form-wrapper {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        padding-bottom: 80px;
    }

    .back-button {
        top: 5%;
        left: 5%;
    }

    /* Confirmation form */

    .confirmation-form-wrapper {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        margin-top: -30px;
    }

    .confirmation-block-title {
        font-size: 22px;
    }

    .confirmation-block-subtitle {
        font-size: 18px;
    }

    .confirmation-button {
        margin: 15px;
        margin-bottom: 40px;
    }

    .log-out-button {
        margin-bottom: 40px;
    }

    /* Profile form */

    .profile-block-wrapper {
        height: 100%;
        width: 100%;
        display: flex;
        text-align: center;
    }

    .profile-block-title {
        margin-top: 160px;
    }
    
    .profile-block-subtitle {
        margin-bottom: -50px;
    }
}