/* Login form */

.form-title {
    font-size: 28px;
    font-weight: 500;
    text-align: center;
}

.login-form-wrapper {
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;  
    justify-content: center; 
    padding-right: 120px;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-field {
    width: 333px;
    height: 35px;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 10px;
    border: 1px solid transparent;
    outline: none;
    font-size: 14px;
    background-color: #f7f7f8;
}

.password-input-wrapper {
    position: relative;
    display: inline-block;
    width: 100%; 
}

.password-input-field {
    width: 303px;
    height: 35px;
    padding: 10px;
    padding-right: 40px;
    margin-bottom: 15px;
    border: 1px solid transparent;
    border-radius: 10px;
    outline: none;
    font-size: 14px;
    background-color: #f7f7f8;
}

.toggle-password-visibility {
    position: absolute;
    left: 320px;
    top: 24%;
    cursor: pointer;
    width: 25px;  
    height: 25px; 
}

.toggle-password-visibility:hover {
    filter: invert(52%) sepia(71%) saturate(6456%) hue-rotate(228deg) brightness(98%) contrast(90%);
}

.form-button {
    width: 357px;
    height: 60px;
    border: 1px solid transparent;
    border-radius: 12px;
    font-size: 14px;
    font-weight: 500;
    background-color: black;
    cursor: pointer;
    color: #fff;
    transition: all 0.3s ease;
}

.login-form-button {
    margin-top: 40px;
}

.form-button:hover {
    background-color: #3e40a5;
    scale: 0.98;
}

.form-button:disabled {
    background-color: #f7f7f8;
    cursor: default;
    color: #9da3ab;
}

.tooltip {
    opacity: 0;
    position: absolute;
    top: 5%;
    border: 1.5px solid #EC0000;
    color: #EC0000;
    padding: 12px 40px;
    border-radius: 12px;
    font-size: 13px;
    z-index: 10;
    pointer-events: none;
    transition: opacity 0.5s ease-in-out;
}

.tooltip.show {
    opacity: 1;
}

.signup-link {
    margin-top: 50px;
    text-decoration: none;
    color: black;
    transition: all 0.2s ease;
    font-size: 14px;
}

.signup-link:hover {
    color: #323384;
    scale: 1.1;
}


/* Signup form */

.signup-form-wrapper {
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;  
    justify-content: center; 
    padding-right: 120px;
    margin-top: -20px;
}

.signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.password-criteria {
    margin: -10px auto 5px 0;
    color: #a9a9a9;
    font-size: 12px;
}

.password-criteria p{
    margin: 4px;
}

.valid-text {
    color: #1BA228;
    margin: 4px;
    transition: color 0.3s ease-in-out;
}

.invalid-text {
    color: #EC0000;
    transition: color 0.3s ease-in-out;
}

.point {
    margin-right: 5px;
}

.error-message {
    margin-top: -12px;
    margin-right: auto;
    margin-left: 5px;
    font-size: 12px;
    color: #EC0000;
    transition: color 1s ease;
}

.back-button {
    position: absolute;
    display: flex;
    text-decoration: none;
    align-items: center;
    top: 5%;
    left: 52%;
    transition: all 0.2s ease;
}

.back-button:hover {
    scale: 1.08;
    color: #3e40a5;
}

.arrow-text {
    margin-left: 5px;
    color: black;
    transition: color 0.2s ease;
}


/* Confirmation form */

.confirmation-form-wrapper {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center; 
    align-items: center; 
    text-align: center;
    padding-right: 120px;
    flex-direction: column;
    margin-top: -50px;
}

.confirmation-block-title {
    font-weight: 300;
    font-size: 24px;
    letter-spacing: 1px;
}

.confirmation-block-subtitle {
    font-weight: 300;
    font-size: 20px;
    letter-spacing: 1px;
    color: #767676;
}

.colored-text {
    color: black;
}

.confirmation-button {
    width: 311px;
    height: 24px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-top: 40px;
    background: none;
    transition: all 0.3s ease;
}

.confirmation-button:hover {
    scale: 1.1;
    color: #3e40a5;
}

.user-email {
    color: #3e40a5;
}


/* Profile form */

.profile-block-wrapper {
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;  
    justify-content: center; 
    flex-direction: column;
    padding-right: 100px;
    margin-top: -20px;
}

.profile-block-title {
    font-size: 36px;
    font-weight: 400;
    margin: 0;
}

.profile-block-subtitle {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 40px;
}

.log-out-button {
    width: 311px;
    height: 24px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-top: 40px;
    background: none;
    transition: all 0.3s ease;
}

.log-out-button:hover {
    scale: 1.1;
    color: #3e40a5;
}






