.signup-personal-form-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    height: 100vh;
    font-size: 13px;
}

.signup-personal-form {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 200px 66px 200px;
    border-radius: 40px;
}

.personal-logo-image {
    width: 130px;
}

.signup-title {
    margin-bottom: 20px;
}

.personal-input-field {
    width: 300px;
    height: 40px;
    padding: 7px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 13px;
    background-color: #f7f7f8;
}

.error-message {
    margin-top: -15px;
    font-size: 12px;
    color: red;
}

.error-border {
    border: 1px solid red;
    color: red; 
}