.password-form-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    height: 100vh;
    font-size: 13px;
}

.password-form {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 200px 80px 200px;
    border-radius: 40px;
}

.password-title {
    margin: 0;
}

.password-input-field {
    width: 270px;
    height: 40px;
    padding: 7px;
    padding-right: 40px;
    margin-top: 20px;
    border: 1px solid transparent;
    border-radius: 10px;
    outline: none;
    font-size: 13px;
    background-color: #f7f7f8;
    font-weight: 600;
}

.password-criteria {
    margin: 5px auto 15px 0px;
    color: #a9a9a9;
    font-weight: 600;
}

.valid-text {
    color: #5e5fee;
}

.point {
    font-size: 16px;
    margin-right: 5px;
    line-height: normal;
}

.password-error-message {
    margin-top: 3px;
    margin-bottom: 0;
    font-size: 12px;
    color: red;
}

.password-input-wrapper {
    position: relative;
    display: inline-block;
    width: 100%; 
}

.toggle-password-visibility {
    position: absolute;
    left: 280px;
    top: 43%;
    cursor: pointer;
    width: 30px;  
    height: 30px; 
}

