html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: sans-serif;
    background: rgb(90,91,230);
    background: linear-gradient(180deg, rgba(90,91,230,1) 0%, rgba(42,46,254,1) 100%);
}

.login-form-wrapper {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh;
    font-size: 13px;
}

.login-form {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 150px 200px 30px 200px;
    border-radius: 40px;
}

.logo-image {
    width: 170px;
    margin-bottom: 80px;
}

.login-input-field {
    width: 350px;
    height: 40px;
    padding: 7px;
    margin-top: 20px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 13px;
    background-color: #f7f7f8;
}

.recovery-password-link {
    margin-left: auto;
    margin-bottom: 20px;
    margin-top: 10px;
    text-decoration: none;
    color: black;
    font-weight: 700;
    transition: all 0.2s ease;
}

.recovery-password-link:hover {
    color: #5e5fee;
}

.form-button {
    width: 362px;
    height: 60px;
    border: none;
    border-radius: 10px;
    font-size: 13px;
    font-weight: 700;
    background-color: #3739f9;
    cursor: pointer;
    transition: all 0.3s ease;
    color: #fff;
}

.form-button:disabled {
    background-color: #f7f7f8;
    cursor: default;
    color: #9da3ab;
}

.signup-link {
    margin-top: 100px;
    text-decoration: none;
    color: #5e5fee;
    font-weight: 700;
    transition: all 0.2s ease;
}

.signup-link:hover {
    color: #323384;
}